#charactor{
    width: 320px;
    height:190px;
    overflow: hidden;
    position: relative;
}
#charactorInner{
    background-image: url('./WCS_All.png');
    height: 1000px;
    width:1770px;
    position: absolute;
    left: 0px;
    top:0px;
}